<% @user = User.find_by(id: @user) %>
<div class="card" >
  <div class="card-body">
    <h5 class="card-title">First and Last Name : <%= @user.first_name %> <%= @user.last_name %></h5>
    <h6 class="card-subtitle mb-2 text-muted">Email : <%= @user.email %></h6>
    <p class="card-text">Description : <%= @user.description %></p>
    
  </div>
</div>




